.bg-todo {
  background: url("./assets/images/bg.avif") bottom / cover no-repeat;
  background-attachment: fixed;
}

.wrap-input {
  background-color: rgba(255, 255, 255, 0.1);
}

.check-complete:hover .check-complete-radio {
  background-color: #808080;
}
.check-complete:hover .check-complete-tick {
  color: white;
  display: block;
}

.dropdown-complete.active {
  transform: rotate(-90deg);
  transition: all 0.3s linear;
}

@media (min-width: 768px) {
  .bg-todo {
    background: url("./assets/images/bg1.avif") center / cover no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
